html, body {
  position:relative;
}

#root{
  height: 100%;
}

.form-wrapper{
    display: flex;
    position: fixed;
    top: 120px;
    height: 100%;
    z-index: 0;
    width: 100%;
    
    /* this is what centers your element in the fixed wrapper*/
    display: flex;
    flex-flow: column;
    align-items: center;
}
.slide-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

@keyframes next-slide-in {

  0% {
      transform: translateX(0px);
      opacity: 0;
  }

  25% {
    transform: translateX(400px);
      opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes back-slide-in {

  0% {
      transform: translateX(0px);
      opacity: 0;
  }

  25% {
    transform: translateX(-400px);
      opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes next-slide-out {

  0% {
      transform: translateX(0px);
      opacity: 1;
  }

  100% {
    transform: translateX(-400px);
    opacity: 0;
    display: none;
  }
}

@keyframes back-slide-out {

  0% {
      transform: translateX(0px);
      opacity: 1;
  }

  100% {
    transform: translateX(400px);
    opacity: 0;
    display: none;
  }
}


.form-animation-next-slide-in{
  animation-name: next-slide-in;
  animation-duration: 1s;
  transition-timing-function: cubic-bezier(.95,.22,.57,.87);
  animation-fill-mode: forwards;
}


.form-animation-next-slide-out{
  animation-name: next-slide-out;
  animation-duration: 0.5s;
  transition-timing-function: cubic-bezier(0,1,0,1);
  animation-fill-mode: forwards;
}


.form-animation-back-slide-in{
  animation-name: back-slide-in;
  animation-duration: 1s;
  transition-timing-function: cubic-bezier(.95,.22,.57,.87);
  animation-fill-mode: forwards;
}


.form-animation-back-slide-out{
  animation-name: back-slide-out;
  animation-duration: 0.5s;
  transition-timing-function: cubic-bezier(0,1,0,1);
  animation-fill-mode: forwards;
}

.dont-show{
  display: none !important;
}


